{% extends 'base.html' %}

{% block content %}

<div class="col-md-6">
    <form action="" method="post" name="insert">
        {% for field in form %}
            <div class="form-group">
                {{ field.label(class='control-label') }}
                {{ field(class='form-control') }}
            </div>
        {% endfor %}
    </form>
</div>

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}

{% for s in stats %}
    <div>
        {{ s }}
    </div>
{% endfor %}

{% endblock %}
